.form-box {
    margin: 30px auto;
    width: 350px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.input input{
    border-radius: 5px;
    height: 30px;
}

input:focus{
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(96, 255, 104);
    cursor: pointer;
    border-radius: 5px;
}

small {
    margin-top: 5px;
    color: rgb(255, 63, 63);
}

label {
    margin-bottom: 5px;
}